header {
    display: flex;
    justify-content: space-between;
    background-color: #228496;
    padding: 20px;
    color: white;
}

header h1 {
    font-size: 20px;
    font-weight: 200;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(84 171 56);
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(96, 208, 55);
}

.search {
    display: flex;
}

.search input {
    width: 15em;
    margin-right: 5px;
}

.map{
    height: calc(100vh - 75px);
    background-color: grey;
}